
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form action="~/Employee/Login" method="post">
    <label>Emaild</label>
    <input type="text" name="EmailId"  value="" /><br />
    <label>Password</label>
    <input type="text" name="Password"  value="" /><br />
    <input type="submit"   value="Login" class="btn btn-success"/>
</form>